In [17]:
import requests
import json
import pandas as pd
import os
import datetime as dt 
from pprint import pprint
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

#Loading secrets
%load_ext dotenv
%dotenv secrets.env

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [18]:
stations_df = pd.read_csv('data_from_web/weather_stations.csv')
stations_df.drop(columns=['NCDCID', 'WBAN', 'COUNTY', 'ELEV', 'UTC', 'STNTYPE'], inplace=True) #dont need these
stations_df.dropna(how='any', inplace=True) #dropping alaskan station that has no GHCND which i use as a Primary Key in SQL
stations_df.head()

           NAME       COUNTRY  ST      LAT       LON        GHCND
0      EGBERT1W        CANADA  ON  44.2326  -79.7810  CAW00064757
2   BETHEL87WNW  UNITEDSTATES  AK  61.3465 -164.0769  USW00026656
3  CORDOVA14ESE  UNITEDSTATES  AK  60.4731 -145.3542  USW00096405
4   DEADHORSE3S  UNITEDSTATES  AK  70.1618 -148.4644  USW00026565
5     DENALI27N  UNITEDSTATES  AK  63.4520 -150.8747  USW00096408

In [19]:
stadium_df = pd.read_csv('data_from_web/another_stadiums.csv', delimiter=';')
stadium_df = stadium_df[['TEAM', 'NAME', 'Geo Point', 'ROOF_TYPE']]
#Adding missing data
stadium_df = stadium_df.append(pd.DataFrame({'TEAM': 'LOSANGELESCHARGERS/LOSANGELESRAMS', 'NAME':'Los Angeles Memorial Coliseum', 'Geo Point': '34.051,-118.1716', 'ROOF_TYPE':'Open'}, index=[31]))
#Comparing differences in latitudes and longitudes between stadium and every weather station to find closest
for index1,row1 in stadium_df.iterrows():
    #Resetting lat long comparison values for every row
    latDif = 10000
    longDif = 10000
    latitude, longitude = row1['Geo Point'].split(',')
    latitude = float(latitude)
    longitude= float(longitude)
    for index2, row2 in stations_df.iterrows():
        #Don't care if its negative or positive, just want to know the largest difference
        if abs(latitude-(row2['LAT'])) < latDif and abs(longitude-row2['LON'])<longDif:
            latDif = abs(latitude-row2['LAT'])
            longDif = abs(longitude-row2['LON'])
            stadium_df.loc[index1 , 'Station'] = row2['GHCND']
#Normalizing
team = []
for index, row in stadium_df.iterrows():
    team.append(row['TEAM'].upper().replace(' ',''))
stadium_df['TEAM'] = team
#Chicago Bears was misspelled in original data
stadium_df.loc[1, 'TEAM'] = 'CHICAGOBEARS'
stadium_df.rename(columns={'Geo Point': 'geo_point'}, inplace=True)
stadium_df.rename(columns={'TEAM':'team'}, inplace=True)
stadium_df.set_index('team', inplace=True)
stadium_df.head()

,NAME,geo_point,ROOF_TYPE,Station
team,,,,
DALLASCOWBOYS,Cowboys Stadium,"32.746930527,-97.0923739136",Retractable,USW00053961
CHICAGOBEARS,Soldier Field,"41.8625000675,-87.6167699762",Open,USW00054811
NEWENGLANDPATRIOTS,Gillette Stadium,"42.0918799131,-71.2649100654",Open,USW00054796
CAROLINAPANTHERS,Bank of America Stadium,"35.2258400005,-80.8533099799",Open,USW00092821
TAMPABAYBUCCANEERS,Raymond James Stadium,"27.978840052,-82.5034900566",Open,USW00092827

In [20]:
games_df = pd.read_csv('data_from_web/nfl_2018_games.csv')
games_df['Winner'] = games_df['Winner/tie']
games_df['Loser'] = games_df['Loser/tie']
#Determining who is home team for stadium lookup
hometeam = []
awayteam = []
for index,row in games_df.iterrows():
    if row[5]=='@':
        hometeam.append(row['Loser/tie'])
        awayteam.append(row['Winner/tie'])
    else:
        hometeam.append(row['Winner/tie'])
        awayteam.append(row['Loser/tie'])
games_df['Home Team'] = hometeam
games_df['Away Team'] = awayteam

#Dropping unneccessary columns and formatting
games_df.drop(columns=['Day', 'Unnamed: 5', 'Unnamed: 7', 'Winner/tie', 'Loser/tie', 'TOW', 'TOL'], inplace = True)
games_df.reset_index(inplace=True)
games_df.rename(columns={'index':'game_id'}, inplace=True)
games_df.set_index('game_id', inplace=True)

#Creating datetime objects to use for API request
date_obj = []
for index,row in games_df.iterrows():
    date_obj.append(dt.datetime.strptime(row['Date']+' 2018', '%B %d %Y'))
games_df['Datetime Obj'] = date_obj

#Normalizing team names and looking up stadium and weather station
stadium = []
station = []
for index,row in games_df.iterrows():
    team=''
    games_df.loc[index, 'Home Team'] = row['Home Team'].upper().replace(' ', '')
    games_df.loc[index, 'Winner'] = row['Winner'].upper().replace(' ', '')
    games_df.loc[index, 'Loser'] = row['Loser'].upper().replace(' ', '')
    games_df.loc[index, 'Away Team'] = row['Away Team'].upper().replace(' ', '')
    team = row['Home Team'].upper().replace(' ', '')
    #Due to SQL schema, teams that play at same stadium are lumped together in stadium database and dataframe
    if team == 'NEWYORKGIANTS' or team == 'NEWYORKJETS':
        team = 'NEWYORKGIANTS/NEWYORKJETS'
        stadium.append(stadium_df['NAME'].loc[team])
        station.append(stadium_df['Station'].loc[team])
    elif team == 'LOSANGELESCHARGERS' or team == 'LOSANGELESRAMS':
        team = 'LOSANGELESCHARGERS/LOSANGELESRAMS'
        stadium.append(stadium_df['NAME'].loc[team])
        station.append(stadium_df['Station'].loc[team])
    else:
        stadium.append(stadium_df['NAME'].loc[team])
        station.append(stadium_df['Station'].loc[team])
games_df['Stadium'] = stadium
games_df['ghcnd'] = station
games_df['total_pts'] = games_df['PtsW'] + games_df['PtsL']
games_df['total_yds'] = games_df['YdsW'] + games_df['YdsL']
games_df.drop(columns=['Date', 'Time'], inplace=True)
#Normalizing column names
games_df.rename(columns={'Home Team': 'home_team',
                         'Away Team':'away_team',
                         'Datetime Obj': 'date'}, inplace=True)
games_df.head()

,Week,PtsW,PtsL,YdsW,YdsL,Winner,Loser,home_team,away_team,date,Stadium,ghcnd,total_pts,total_yds
game_id,,,,,,,,,,,,,,
0,1,18,12,232,299,PHILADELPHIAEAGLES,ATLANTAFALCONS,PHILADELPHIAEAGLES,ATLANTAFALCONS,2018-09-06,Lincoln Financial Field,USW00003761,30,531
1,1,48,40,529,475,TAMPABAYBUCCANEERS,NEWORLEANSSAINTS,NEWORLEANSSAINTS,TAMPABAYBUCCANEERS,2018-09-09,Louisiana Superdome,USW00053960,88,1004
2,1,24,16,343,327,MINNESOTAVIKINGS,SANFRANCISCO49ERS,MINNESOTAVIKINGS,SANFRANCISCO49ERS,2018-09-09,Hubert H. Humphrey Metrodome,USW00054854,40,670
3,1,27,20,342,336,MIAMIDOLPHINS,TENNESSEETITANS,MIAMIDOLPHINS,TENNESSEETITANS,2018-09-09,Sun Life Stadium,USW00092821,47,678
4,1,20,15,305,324,JACKSONVILLEJAGUARS,NEWYORKGIANTS,NEWYORKGIANTS,JACKSONVILLEJAGUARS,2018-09-09,Meadowlands Stadium,USW00064756,35,629

In [21]:
#Sending an API request for every game in game dataframe, takes some time
for index, row in games_df.iterrows():
    base = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&units=standard&startdate='
    #Formatting date to appropriate form
    startDate = row['date'].strftime('%Y-%m-%d')
    endDate = startDate #must include enddate in API url. Same enddate as start returns one day from API
    station=row['ghcnd']
    url = f'{base}{startDate}&enddate={endDate}&stationid=GHCND:{station}'
    head = {"token": os.getenv('NOAA_TOK')} #Based on API documentation, must include token in the header of request
    json = requests.get(url, headers=head).json()
    for result in json['results']:
        if result['datatype']=='PRCP':
            games_df.loc[index, 'Rain'] = result['value']
        elif result['datatype']=='TMAX':
            games_df.loc[index, 'Temp'] = result['value']
games_df.dropna(how='any', inplace=True) #There seems to be only one value returning NaN from the API, So i am dropping this record.
games_df.head()

,Week,PtsW,PtsL,YdsW,YdsL,Winner,Loser,home_team,away_team,date,Stadium,ghcnd,total_pts,total_yds,Rain,Temp
game_id,,,,,,,,,,,,,,,,
0,1,18,12,232,299,PHILADELPHIAEAGLES,ATLANTAFALCONS,PHILADELPHIAEAGLES,ATLANTAFALCONS,2018-09-06,Lincoln Financial Field,USW00003761,30,531,0.00,90.0
1,1,48,40,529,475,TAMPABAYBUCCANEERS,NEWORLEANSSAINTS,NEWORLEANSSAINTS,TAMPABAYBUCCANEERS,2018-09-09,Louisiana Superdome,USW00053960,88,1004,0.12,89.0
2,1,24,16,343,327,MINNESOTAVIKINGS,SANFRANCISCO49ERS,MINNESOTAVIKINGS,SANFRANCISCO49ERS,2018-09-09,Hubert H. Humphrey Metrodome,USW00054854,40,670,0.04,64.0
3,1,27,20,342,336,MIAMIDOLPHINS,TENNESSEETITANS,MIAMIDOLPHINS,TENNESSEETITANS,2018-09-09,Sun Life Stadium,USW00092821,47,678,0.06,86.0
4,1,20,15,305,324,JACKSONVILLEJAGUARS,NEWYORKGIANTS,NEWYORKGIANTS,JACKSONVILLEJAGUARS,2018-09-09,Meadowlands Stadium,USW00064756,35,629,0.00,59.0

In [22]:
#Initializing and Normalizing teams dataframe
teams_df = pd.read_csv('data_from_web/nfl_teams.csv')
teams_df = teams_df[['team_name', 'team_conference', 'team_division']]
for index, row in teams_df.iterrows():
    teams_df.loc[index, 'team_name'] = row['team_name'].upper().replace(' ','')
teams_df.head()

           team_name team_conference team_division
0   ARIZONACARDINALS             NFC      NFC West
1   PHOENIXCARDINALS             NFC           NaN
2  ST.LOUISCARDINALS             NFC           NaN
3     ATLANTAFALCONS             NFC     NFC South
4    BALTIMORERAVENS             AFC     AFC North

In [23]:
#Normalizing all column names to be lower case before loading into SQL
column_list = []
for column in stations_df.columns:
    column_list.append(column.lower())
stations_df.columns = column_list
column_list = []
for column in games_df.columns:
    column_list.append(column.lower())
games_df.columns = column_list
column_list = []
for column in stadium_df.columns:
    column_list.append(column.lower())
stadium_df.columns = column_list
column_list = []
for column in teams_df.columns:
    column_list.append(column.lower())
teams_df.columns = column_list

In [24]:
#Connecting to SQL server and automapping
#Tables with relationships should be set up before running this
word = os.getenv('SQL_PASS')
engine = create_engine(f'postgresql://postgres:{word}@localhost:5432/nfl_2018_db')
Base = automap_base()
Base.prepare(engine, reflect=True)

#Using pandas to insert values into Database. Tables have already been created in pgAdmin using QuickDBD
#Stations and Teams dataframes do not have relevant indexes, so I do not include those.

#Uncomment below code to insert data into SQL

# stations_df.to_sql('Stations', engine, if_exists='append',index=False)
# teams_df.to_sql('Teams', engine, if_exists='append',index=False)
# stadium_df.to_sql('Stadiums', engine, if_exists='append')
# games_df.to_sql('Games', engine, if_exists='append')


Base.classes.keys()

['Teams', 'Games', 'Stations', 'Stadiums']

In [25]:
#Assigning database table objects to use in queries
Teams = Base.classes.Teams
Games = Base.classes.Games
Stadiums = Base.classes.Stadiums
Stations = Base.classes.Stations

In [26]:
#Connecting session
session = Session(engine)

In [36]:
#Proof of concept
query = session.query(func.avg(Games.total_pts), func.avg(Games.total_yds)).filter(Games.rain<.2).filter(Games.temp>70)
for result in query:
    print(f'Temp >70 deg Rain < .2in\nAvg Pts:{round(result[0],2)} Avg Yds: {round(result[1], 2)}')

Temp >70 deg Rain < .2in
Avg Pts:47.51 Avg Yds: 722.24

In [38]:
query = session.query(func.avg(Games.total_pts), func.avg(Games.total_yds)).filter(Games.rain>.2).filter(Games.temp<70)
for result in query:
    print(f'Temp < 70 deg Rain > .2in\nAvg Pts:{round(result[0],2)} Avg Yds: {round(result[1], 2)}')

Temp < 70 deg Rain > .2in
Avg Pts:46.30 Avg Yds: 705.26