In [62]:
import pandas as pd 
import requests
from splinter import Browser
from bs4 import BeautifulSoup as bs4
from webdriver_manager.chrome import ChromeDriverManager
import re
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import datetime as dt

regex = re.compile('[^a-zA-Z]')
#First parameter is the replacement, second parameter is your input string
regex.sub('', 'ab3d*E')



#Loading secrets
%load_ext dotenv
%dotenv secrets.env

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [78]:
word = os.getenv('SQL_PASS')
engine = create_engine(f'postgresql://postgres:{word}@localhost:5432/nfl_2018_db')
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

Teams = Base.classes.Teams
Stadiums = Base.classes.Teams
Games = Base.classes.Games
Stations = Base.classes.Stations

In [4]:
for result in session.query(Teams.team_name):
    print(result)

('ARIZONACARDINALS',)
('PHOENIXCARDINALS',)
('ST.LOUISCARDINALS',)
('ATLANTAFALCONS',)
('BALTIMORERAVENS',)
('BUFFALOBILLS',)
('CAROLINAPANTHERS',)
('CHICAGOBEARS',)
('CINCINNATIBENGALS',)
('CLEVELANDBROWNS',)
('DALLASCOWBOYS',)
('DENVERBRONCOS',)
('DETROITLIONS',)
('GREENBAYPACKERS',)
('HOUSTONTEXANS',)
('BALTIMORECOLTS',)
('INDIANAPOLISCOLTS',)
('JACKSONVILLEJAGUARS',)
('KANSASCITYCHIEFS',)
('LOSANGELESCHARGERS',)
('SANDIEGOCHARGERS',)
('LOSANGELESRAMS',)
('ST.LOUISRAMS',)
('MIAMIDOLPHINS',)
('MINNESOTAVIKINGS',)
('NEWENGLANDPATRIOTS',)
('BOSTONPATRIOTS',)
('NEWORLEANSSAINTS',)
('NEWYORKGIANTS',)
('NEWYORKJETS',)
('LOSANGELESRAIDERS',)
('LASVEGASRAIDERS',)
('OAKLANDRAIDERS',)
('PHILADELPHIAEAGLES',)
('PITTSBURGHSTEELERS',)
('SEATTLESEAHAWKS',)
('SANFRANCISCO49ERS',)
('TAMPABAYBUCCANEERS',)
('HOUSTONOILERS',)
('TENNESSEEOILERS',)
('TENNESSEETITANS',)
('WASHINGTONREDSKINS',)
('WASHINGTONFOOTBALLTEAM',)

In [5]:
# url = 'https://www.pro-football-reference.com/years/'
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)
# browser.visit(url)
# browser.click_link_by_partial_text('2015')
# html = browser.html
# soup = bs4(html, 'html.parser')
# browser.quit()

In [19]:


for year in range(1970,2000,1):
    tables = pd.read_html(f'https://www.pro-football-reference.com/years/{year}/')
    afc = tables[0]
    nfc = tables[1]
    try:
        afc = afc[['Tm', 'W', 'L', 'T', 'PF', 'PA', 'PD']]
        nfc = nfc[['Tm', 'W', 'L', 'T', 'PF', 'PA', 'PD']]
    except KeyError:
        try:
            afc = afc[['Tm', 'W', 'L', 'PF', 'PA', 'PD']]
            nfc = nfc[['Tm', 'W', 'L', 'PF', 'PA', 'PD']]
        except KeyError:
            print('nope')
    
    for index, row in afc.iterrows():
        afc.loc[index, 'Tm'] = regex.sub('', row['Tm'])
        if 'AFC' in row['Tm']:
            afc.drop(index, inplace=True)
    for index, row in afc.iterrows():
        x = row['Tm']
        query_string = f'{x}'
        query = session.query(Teams.team_id).filter(Teams.team_name.match(query_string))
        compreh = [result[0] for result in query]
        for result in query:
            afc.loc[index,'index'] = int(compreh[0])

        
    for index, row in nfc.iterrows():
        nfc.loc[index, 'Tm'] = regex.sub('', row['Tm'])
        if 'NFC' in row['Tm']:
            nfc.drop(index, inplace=True)
    for index, row in nfc.iterrows():
        x = row['Tm']
        query_string = f'{x}'
        query = session.query(Teams.team_id).filter(Teams.team_name.match(query_string))
        compreh = [result[0] for result in query]
        for result in query:
            nfc.loc[index,'index'] = int(compreh[0])
    afc.reset_index(inplace=True)
    afc.rename(columns={'index': 'team_id'}, inplace=True)
    # nfc.reset_index(inplace=True)
    nfc.rename(columns={'index': 'team_id'},inplace=True)

    # Need to add functionality to append teams to SQL db
    nfc.dropna(how='any', inplace=True)
    afc.dropna(how='any', inplace=True)
    league = pd.merge(nfc, afc, how='outer')
    league.drop(columns='level_0', inplace=True)
    columns = [regex.sub('', column) for column in league.columns]
    league.columns = columns
    league.rename(columns={'teamid':'team_id'},inplace=True)
    league['team_id'] = league['team_id'].astype(int)
    exists = False
    try:
        league.to_sql(f'{year}_Season_Team_Stats', engine, if_exists='fail', index=False)
    except ValueError:
        print(f'{year}_Season_Team_Stats already exists!')
        exists = True
    if exists != True:
        execute = f"ALTER TABLE \"{year}_Season_Team_Stats\" ADD CONSTRAINT \"fk_{year}_Season_Team_Stats_team_id\" FOREIGN KEY(\"team_id\") REFERENCES \"Teams\" (\"team_id\");"
        engine.execute(execute)


    with open('autogenerated_quickDBD.txt', 'a') as file:
        file.write(f'{year}_Season_Team_Stats\n-\n')

        for column in league.columns:
            if column=='team_id':
                file.write('team_id INT FK >- Teams.team_id')
            else:
                file.write(f'{column} VARCHAR(80)\n')
        file.write('\n\n\n')


# nfc.to_sql('1970_Season_Team', engine, if_exists='replace', )

1970_Season_Team_Stats already exists!
1971_Season_Team_Stats already exists!
1972_Season_Team_Stats already exists!
1973_Season_Team_Stats already exists!
1974_Season_Team_Stats already exists!
1975_Season_Team_Stats already exists!
1976_Season_Team_Stats already exists!
1977_Season_Team_Stats already exists!
1978_Season_Team_Stats already exists!
1979_Season_Team_Stats already exists!
1980_Season_Team_Stats already exists!
1981_Season_Team_Stats already exists!
1982_Season_Team_Stats already exists!
1983_Season_Team_Stats already exists!
1984_Season_Team_Stats already exists!
1985_Season_Team_Stats already exists!
1986_Season_Team_Stats already exists!
1987_Season_Team_Stats already exists!
1988_Season_Team_Stats already exists!
1989_Season_Team_Stats already exists!
1990_Season_Team_Stats already exists!
1991_Season_Team_Stats already exists!
1992_Season_Team_Stats already exists!
1993_Season_Team_Stats already exists!
1994_Season_Team_Stats already exists!
1995_Season_Team_Stats already exists!
1996_Season_Team_Stats already exists!
1997_Season_Team_Stats already exists!
1998_Season_Team_Stats already exists!
1999_Season_Team_Stats already exists!

In [77]:
session.close_all()

In [64]:
tables = pd.read_html('https://www.pro-football-reference.com/years/1970/games.htm')

In [73]:
tables = pd.read_html('https://www.pro-football-reference.com/years/1970/games.htm')
year = 1970
games_df = tables[0]
for index,row in games_df.iterrows():
    if row[5] == '@':
        games_df.loc[index, 'home_team_id'] = row['Loser/tie']
        games_df.loc[index, 'away_team_id'] = row['Winner/tie']
    else:
        games_df.loc[index, 'home_team_id'] = row['Winner/tie']
        games_df.loc[index, 'away_team_id'] = row['Loser/tie']
    if 'ayoffs' in row['Date']:
        games_df.drop(index=index, inplace=True)
    if row['Date'] == 'Date':
        games_df.drop(index=index, inplace=True)
    

for index,row in games_df.iterrows():
    
    games_df.loc[index, 'OBJ']= dt.datetime.strptime(row['Date']+f' {year}', '%B %d %Y')


for index, row in games_df.iterrows():
    x = str(row['home_team_id']).upper().replace(' ', '')
    query_string = f'{x}'
    query = session.query(Teams.team_id).filter(Teams.team_name.match(query_string))
    compreh = [result[0] for result in query]
    for result in query:
        games_df.loc[index,'home_team_id'] = int(compreh[0])
    x = str(row['away_team_id']).upper().replace(' ', '')
    query_string = f'{x}'
    query = session.query(Teams.team_id).filter(Teams.team_name.match(query_string))
    compreh = [result[0] for result in query]
    for result in query:
        games_df.loc[index,'away_team_id'] = int(compreh[0])
games_df.drop(columns=['Winner/tie', 'Unnamed: 5', 'Loser/tie', 'Unnamed: 7'], inplace=True)
games_df.dropna(how='any', inplace=True)
games_df.head()

,Week,Day,Date,Time,PtsW,PtsL,YdsW,TOW,YdsL,TOL,home_team_id,away_team_id,OBJ
0,1,Fri,September 18,11:00PM,34,13,342,1,327,4,21,2,1970-09-18
1,1,Sat,September 19,8:00PM,24,16,256,3,311,3,28,7,1970-09-19
2,1,Sun,September 20,1:00PM,25,10,282,3,149,4,5,11,1970-09-20
3,1,Sun,September 20,1:00PM,17,7,297,3,225,4,33,10,1970-09-20
4,1,Sun,September 20,1:00PM,31,21,364,1,291,2,8,32,1970-09-20

In [97]:
for index,row in games_df.iterrows():
    query = session.query(Stadiums.stadium_id).filter(Stadiums.team_id == int(row['home_team_id']))
    compreh = [result[0] for result in query]
    if  compreh:
        games_df.loc[index, 'stadium_id'] = int(compreh[0])

In [98]:
games_df

,Week,Day,Date,Time,PtsW,PtsL,YdsW,TOW,YdsL,TOL,home_team_id,away_team_id,OBJ,stadium_id
0,1,Fri,September 18,11:00PM,34,13,342,1,327,4,21,2,1970-09-18,31.0
1,1,Sat,September 19,8:00PM,24,16,256,3,311,3,28,7,1970-09-19,NaN
2,1,Sun,September 20,1:00PM,25,10,282,3,149,4,5,11,1970-09-20,22.0
3,1,Sun,September 20,1:00PM,17,7,297,3,225,4,33,10,1970-09-20,8.0
4,1,Sun,September 20,1:00PM,31,21,364,1,291,2,8,32,1970-09-20,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Division,Sun,December 27,1:00PM,17,14,289,3,241,4,24,36,1970-12-27,13.0
199,Division,Sun,December 27,4:00PM,21,14,307,2,242,1,32,23,1970-12-27,12.0
200,ConfChamp,Sun,January 3,2:00PM,27,17,363,0,336,4,15,32,1970-01-03,NaN
201,ConfChamp,Sun,January 3,4:30PM,17,10,319,1,307,2,36,10,1970-01-03,26.0
202,SuperBowl,Sun,January 17,1:50PM,16,13,329,7,217,4,15,10,1970-01-17,NaN

In [99]:
session.close_all()
# engine.close_all()

In [68]:
for x in games_df['Date']:
    print((x))

September 18
September 19
September 20
September 20
September 20
September 20
September 20
September 20
September 20
September 20
September 20
September 20
September 21
Date
September 27
September 27
September 27
September 27
September 27
September 27
September 27
September 27
September 27
September 27
September 27
September 27
September 28
Date
October 3
October 3
October 4
October 4
October 4
October 4
October 4
October 4
October 4
October 4
October 4
October 4
October 5
Date
October 10
October 11
October 11
October 11
October 11
October 11
October 11
October 11
October 11
October 11
October 11
October 11
October 12
Date
October 18
October 18
October 18
October 18
October 18
October 18
October 18
October 18
October 18
October 18
October 18
October 18
October 19
Date
October 25
October 25
October 25
October 25
October 25
October 25
October 25
October 25
October 25
October 25
October 25
October 25
October 26
Date
November 1
November 1
November 1
November 1
November 1
November 1
November 1
November 1
November 1
November 1
November 1
November 1
November 2
Date
November 8
November 8
November 8
November 8
November 8
November 8
November 8
November 8
November 8
November 8
November 8
November 8
November 9
Date
November 15
November 15
November 15
November 15
November 15
November 15
November 15
November 15
November 15
November 15
November 15
November 15
November 16
Date
November 22
November 22
November 22
November 22
November 22
November 22
November 22
November 22
November 22
November 22
November 22
November 22
November 23
Date
November 26
November 26
November 29
November 29
November 29
November 29
November 29
November 29
November 29
November 29
November 29
November 29
November 30
Date
December 5
December 6
December 6
December 6
December 6
December 6
December 6
December 6
December 6
December 6
December 6
December 6
December 7
Date
December 12
December 12
December 13
December 13
December 13
December 13
December 13
December 13
December 13
December 13
December 13
December 13
December 14
Date
December 19
December 20
December 20
December 20
December 20
December 20
December 20
December 20
December 20
December 20
December 20
December 20
December 20
December 26
December 26
December 27
December 27
January 3
January 3
January 17