In [1]:
import pandas as pd 
import requests
from splinter import Browser
from bs4 import BeautifulSoup as bs4
from webdriver_manager.chrome import ChromeDriverManager
import os
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import datetime as dt
import re
regex = re.compile('[^a-zA-Z]')
#First parameter is the replacement, second parameter is your input string
regex.sub('', 'ab3d*E')



#Loading secrets
%load_ext dotenv
%dotenv secrets.env

In [133]:
word = os.getenv('SQL_PASS')
engine = create_engine(f'postgresql://postgres:{word}@localhost:5432/nfl_2018_db')
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)

Teams = Base.classes.Teams
Stadiums = Base.classes.Stadiums
Games = Base.classes.Games
Stations = Base.classes.Stations

In [5]:
for result in session.query(Teams.team_name):
    print(result)

('ARIZONACARDINALS',)
('PHOENIXCARDINALS',)
('ST.LOUISCARDINALS',)
('ATLANTAFALCONS',)
('BALTIMORERAVENS',)
('BUFFALOBILLS',)
('CAROLINAPANTHERS',)
('CHICAGOBEARS',)
('CINCINNATIBENGALS',)
('CLEVELANDBROWNS',)
('DALLASCOWBOYS',)
('DENVERBRONCOS',)
('DETROITLIONS',)
('GREENBAYPACKERS',)
('HOUSTONTEXANS',)
('BALTIMORECOLTS',)
('INDIANAPOLISCOLTS',)
('JACKSONVILLEJAGUARS',)
('KANSASCITYCHIEFS',)
('LOSANGELESCHARGERS',)
('SANDIEGOCHARGERS',)
('LOSANGELESRAMS',)
('ST.LOUISRAMS',)
('MIAMIDOLPHINS',)
('MINNESOTAVIKINGS',)
('NEWENGLANDPATRIOTS',)
('BOSTONPATRIOTS',)
('NEWORLEANSSAINTS',)
('NEWYORKGIANTS',)
('NEWYORKJETS',)
('LOSANGELESRAIDERS',)
('LASVEGASRAIDERS',)
('OAKLANDRAIDERS',)
('PHILADELPHIAEAGLES',)
('PITTSBURGHSTEELERS',)
('SEATTLESEAHAWKS',)
('SANFRANCISCO49ERS',)
('TAMPABAYBUCCANEERS',)
('HOUSTONOILERS',)
('TENNESSEEOILERS',)
('TENNESSEETITANS',)
('WASHINGTONREDSKINS',)
('WASHINGTONFOOTBALLTEAM',)

In [ ]:
# url = 'https://www.pro-football-reference.com/years/'
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)
# browser.visit(url)
# browser.click_link_by_partial_text('2015')
# html = browser.html
# soup = bs4(html, 'html.parser')
# browser.quit()

In [6]:
master_league = pd.DataFrame(columns=[['Tm', 'W', 'L', 'T', 'PF', 'PA', 'PD', 'team_id']])  
master_league

Empty DataFrame
Columns: [(Tm,), (W,), (L,), (T,), (PF,), (PA,), (PD,), (team_id,)]
Index: []

In [122]:
master_league = pd.DataFrame(columns=[['Tm', 'W', 'L', 'T', 'PF', 'PA', 'PD', 'team_id', 'year']]) 
first_time = True
for year in range(1970,2019,1):
    tables = pd.read_html(f'https://www.pro-football-reference.com/years/{year}/')
    afc = tables[0]
    nfc = tables[1]
    try:
        afc = afc[['Tm', 'W', 'L', 'T', 'PF', 'PA', 'PD']]
        nfc = nfc[['Tm', 'W', 'L', 'T', 'PF', 'PA', 'PD']]
    except KeyError:
        try:
            afc = afc[['Tm', 'W', 'L', 'PF', 'PA', 'PD']]
            nfc = nfc[['Tm', 'W', 'L', 'PF', 'PA', 'PD']]
        except KeyError:
            print('nope')
    
    for index, row in afc.iterrows():
        afc.loc[index, 'Tm'] = regex.sub('', row['Tm'])
        if 'AFC' in row['Tm']:
            afc.drop(index, inplace=True)
        if 'St. Lo' in row['Tm']:
            nfc.loc[index,'Tm'] = 'St.LouisRams'
        if 'SanFran' in row['Tm']:
            afc.loc[index, 'Tm'] = 'SanFrancisco49ers'
    for index, row in afc.iterrows():
        x = row['Tm'].upper().replace(' ','')
        query_string = f'{x}'
        query = session.query(Teams.team_id).filter(Teams.team_name.match(query_string))
        compreh = [result[0] for result in query]
        for result in query:
            afc.loc[index,'index'] = int(compreh[0])

        
    for index, row in nfc.iterrows():
        nfc.loc[index, 'Tm'] = regex.sub('', row['Tm'])
        if 'NFC' in row['Tm']:
            nfc.drop(index, inplace=True)
        if 'St. Lo' in row['Tm']:
            nfc.loc[index,'Tm'] = 'St.LouisRams'
        if 'San Fran' in row['Tm']:
            nfc.loc[index, 'Tm'] = 'SanFrancisco49ers'
    for index, row in nfc.iterrows():
        x = row['Tm']
        query_string = f'{x}'
        query = session.query(Teams.team_id).filter(Teams.team_name.match(query_string))
        compreh = [result[0] for result in query]
        for result in query:
            nfc.loc[index,'index'] = int(compreh[0])
    afc.reset_index(inplace=True)
    afc.rename(columns={'index': 'team_id'}, inplace=True)
    # nfc.reset_index(inplace=True)
    nfc.rename(columns={'index': 'team_id'},inplace=True)

    # Need to add functionality to append teams to SQL db
    # nfc.dropna(how='any', inplace=True)
    # afc.dropna(how='any', inplace=True)
    league = pd.merge(nfc, afc, how='outer')
    league.drop(columns='level_0', inplace=True)
    columns = [regex.sub('', column) for column in league.columns]
    league.columns = columns
    league.rename(columns={'teamid':'team_id'},inplace=True)
    league.fillna(value=0.2)
    league['team_id'] = league['team_id'].astype(float)
    league['year'] = [year for x in league['team_id'] ]
    if first_time:
        master_league = league
        first_time = False
        print(f'First Time!\nYear: {year}')
        count = 1
    else:
        master_league = master_league.append(league)
        print(f'Year: {year}')
    master_league.fillna(0.2, inplace=True)
    
    
    
if master_league.loc[master_league['team_id'] == 0.2].empty:
    # print(master_league)
    master_league['team_id'] = master_league['team_id'].astype(int)
    try:
        master_league.to_sql('Seasons_Team_Stats',con=engine, if_exists='fail')
        engine.execute('ALTER TABLE "Seasons_Team_Stats" ADD CONSTRAINT "team_year_pk" UNIQUE("team_id", "year");')
    except ValueError:
        kevin='kevin'
else:
    print('Team ID is Missing')

        
        
        
        
        
        
        
        # print()
    # exists = False
    # try:
    #     league.to_sql(f'{year}_Season_Team_Stats', engine, if_exists='fail', index=False)
    # except ValueError:
    #     print(f'{year}_Season_Team_Stats already exists!')
    #     exists = True
    # if exists != True:
    #     execute = f"ALTER TABLE \"{year}_Season_Team_Stats\" ADD CONSTRAINT \"fk_{year}_Season_Team_Stats_team_id\" FOREIGN KEY(\"team_id\") REFERENCES \"Teams\" (\"team_id\");"
    #     engine.execute(execute)


    # with open('autogenerated_quickDBD.txt', 'a') as file:
    #     file.write(f'{year}_Season_Team_Stats\n-\n')

    #     for column in league.columns:
    #         if column=='team_id':
    #             file.write('team_id INT FK >- Teams.team_id')
    #         else:
    #             file.write(f'{column} VARCHAR(80)\n')
    #     file.write('\n\n\n')


# nfc.to_sql('1970_Season_Team', engine, if_exists='replace', )

C:\Users\state\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\state\anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\state\anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\state\anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

First Time!
Year: 1970
Year: 1971
Year: 1972
Year: 1973
Year: 1974
Year: 1975
Year: 1976
Year: 1977
Year: 1978
Year: 1979
Year: 1980
Year: 1981
Year: 1982
Year: 1983
Year: 1984
Year: 1985
Year: 1986
Year: 1987
Year: 1988
Year: 1989
Year: 1990
Year: 1991
Year: 1992
Year: 1993
Year: 1994
Year: 1995
Year: 1996
Year: 1997
Year: 1998
Year: 1999
Year: 2000
Year: 2001
Year: 2002
Year: 2003
Year: 2004
Year: 2005
Year: 2006
Year: 2007
Year: 2008
Year: 2009
Year: 2010
Year: 2011
Year: 2012
Year: 2013
Year: 2014
Year: 2015
Year: 2016
Year: 2017
Year: 2018

In [127]:
# master_league.to_sql('Seasons_Team_Stats',con=engine, if_exists='replace')
# engine.execute('ALTER TABLE "Seasons_Team_Stats" DROP CONSTRAINT "pk_Seasons_Team_Stats";')
# engine.execute('ALTER TABLE "Seasons_Team_Stats" ADD CONSTRAINT "team_year_pk" UNIQUE("team_id", "year");')
# engine.execute(f'ALTER TABLE "Games" ADD CONSTRAINT "fk_Games_winner_id_year" FOREIGN KEY("winner_id", "year") REFERENCES "Seasons_Team_Stats" ("team_id", "year"); ALTER TABLE "Games" ADD CONSTRAINT "fk_Games_loser_id" FOREIGN KEY("loser_id", "year") REFERENCES "Seasons_Team_Stats" ("team_id", "year"); ALTER TABLE "Games" ADD CONSTRAINT "fk_Games_home_team_id" FOREIGN KEY("home_team_id", "year") REFERENCES "Seasons_Team_Stats" ("team_id", "year"); ALTER TABLE "Games" ADD CONSTRAINT "fk_Games_away_team_id" FOREIGN KEY("away_team_id", "year") REFERENCES "Seasons_Team_Stats" ("team_id", "year"); ')


session.close_all()

C:\Users\state\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SADeprecationWarning: The Session.close_all() method is deprecated and will be removed in a future release.  Please refer to session.close_all_sessions().
  import sys

In [9]:
# for x in Base.classes.keys():
#     engine.execute(f'DROP TABLE "{x}" CASCADE;')
tables = pd.read_html('https://www.pro-football-reference.com/years/1970/games.htm')
year = 1970
games_df = tables[0]
games_df

,Week,Day,Date,Time,Winner/tie,Unnamed: 5,Loser/tie,Unnamed: 7,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,Fri,September 18,11:00PM,Los Angeles Rams,NaN,St. Louis Cardinals,boxscore,34,13,342,1,327,4
1,1,Sat,September 19,8:00PM,Chicago Bears,@,New York Giants,boxscore,24,16,256,3,311,3
2,1,Sun,September 20,1:00PM,Denver Broncos,@,Buffalo Bills,boxscore,25,10,282,3,149,4
3,1,Sun,September 20,1:00PM,Dallas Cowboys,@,Philadelphia Eagles,boxscore,17,7,297,3,225,4
4,1,Sun,September 20,1:00PM,Cincinnati Bengals,NaN,Oakland Raiders,boxscore,31,21,364,1,291,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Division,Sun,December 27,1:00PM,San Francisco 49ers,@,Minnesota Vikings,boxscore,17,14,289,3,241,4
199,Division,Sun,December 27,4:00PM,Oakland Raiders,NaN,Miami Dolphins,boxscore,21,14,307,2,242,1
200,ConfChamp,Sun,January 3,2:00PM,Baltimore Colts,NaN,Oakland Raiders,boxscore,27,17,363,0,336,4
201,ConfChamp,Sun,January 3,4:30PM,Dallas Cowboys,@,San Francisco 49ers,boxscore,17,10,319,1,307,2
202,SuperBowl,Sun,January 17,1:50PM,Baltimore Colts,N,Dallas Cowboys,boxscore,16,13,329,7,217,4

In [14]:
tables = pd.read_html('https://www.pro-football-reference.com/years/1970/games.htm')
year = 1970
games_df = tables[0]
for index,row in games_df.iterrows():
    if row[5] == '@':
        games_df.loc[index, 'home_team_id'] = row['Loser/tie']
        games_df.loc[index, 'away_team_id'] = row['Winner/tie']
    else:
        games_df.loc[index, 'home_team_id'] = row['Winner/tie']
        games_df.loc[index, 'away_team_id'] = row['Loser/tie']
    if 'ayoffs' in row['Date']:
        games_df.drop(index=index, inplace=True)
    if row['Date'] == 'Date':
        games_df.drop(index=index, inplace=True)
    

for index,row in games_df.iterrows():
    
    games_df.loc[index, 'OBJ']= dt.datetime.strptime(row['Date']+f' {year}', '%B %d %Y')


for index, row in games_df.iterrows():
    x = str(row['home_team_id']).upper().replace(' ', '')
    query_string = f'{x}'
    query = session.query(Teams.team_id).filter(Teams.team_name.match(query_string))
    compreh = [result[0] for result in query]
    for result in query:
        games_df.loc[index,'home_team_id'] = int(compreh[0])
    x = str(row['away_team_id']).upper().replace(' ', '')
    query_string = f'{x}'
    query = session.query(Teams.team_id).filter(Teams.team_name.match(query_string))
    compreh = [result[0] for result in query]
    for result in query:
        games_df.loc[index,'away_team_id'] = int(compreh[0])
games_df.drop(columns=['Winner/tie', 'Unnamed: 5', 'Loser/tie', 'Unnamed: 7'], inplace=True)
games_df.dropna(how='any', inplace=True)
games_df.head()

,Week,Day,Date,Time,PtsW,PtsL,YdsW,TOW,YdsL,TOL,home_team_id,away_team_id,OBJ
0,1,Fri,September 18,11:00PM,34,13,342,1,327,4,21,2,1970-09-18
1,1,Sat,September 19,8:00PM,24,16,256,3,311,3,28,7,1970-09-19
2,1,Sun,September 20,1:00PM,25,10,282,3,149,4,5,11,1970-09-20
3,1,Sun,September 20,1:00PM,17,7,297,3,225,4,33,10,1970-09-20
4,1,Sun,September 20,1:00PM,31,21,364,1,291,2,8,32,1970-09-20

In [116]:
for index,row in games_df.iterrows():
    
    if row['home_team_id'] == 28:
        query = session.query(Teams.team_id).filter(Teams.team_name=='NEWYORKJETS')
    else:
        query = session.query(Stadiums.stadium_id).filter(Stadiums.team_id == int(row['home_team_id']))
    compreh = [result[0] for result in query]
    if  compreh:
        games_df.loc[index, 'stadium_id'] = int(compreh[0])
games_df['year'] = [year for x in games_df['Day']]
games_df.head()

,Week,Day,Date,Time,PtsW,PtsL,YdsW,TOW,YdsL,TOL,home_team_id,away_team_id,OBJ,stadium_id,year
0,1,Fri,September 18,11:00PM,34,13,342,1,327,4,21,2,1970-09-18,31.0,1970
1,1,Sat,September 19,8:00PM,24,16,256,3,311,3,28,7,1970-09-19,29.0,1970
2,1,Sun,September 20,1:00PM,25,10,282,3,149,4,5,11,1970-09-20,22.0,1970
3,1,Sun,September 20,1:00PM,17,7,297,3,225,4,33,10,1970-09-20,8.0,1970
4,1,Sun,September 20,1:00PM,31,21,364,1,291,2,8,32,1970-09-20,18.0,1970

In [156]:
games_df.loc[games_df['home_team_id']==21]

,Week,Day,Date,Time,PtsW,PtsL,YdsW,TOW,YdsL,TOL,home_team_id,away_team_id,OBJ,stadium_id,year
0,1,Fri,September 18,11:00PM,34,13,342,1,327,4,21,2,1970-09-18,31.0,1970
37,3,Sun,October 4,4:00PM,37,10,277,1,147,4,21,20,1970-10-04,31.0,1970
51,4,Sun,October 11,4:00PM,20,6,243,2,205,4,21,36,1970-10-11,31.0,1970
109,8,Sun,November 8,4:00PM,10,10,364,3,194,1,21,3,1970-11-08,31.0,1970
123,9,Sun,November 15,4:00PM,31,20,386,2,325,4,21,29,1970-11-15,31.0,1970
165,12,Sun,December 6,4:00PM,34,16,445,0,255,0,21,27,1970-12-06,31.0,1970
180,13,Mon,December 14,9:00PM,28,23,343,1,381,1,21,12,1970-12-14,31.0,1970

In [10]:
session.close_all()

# new_stadium_df

C:\Users\state\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Session.close_all() method is deprecated and will be removed in a future release.  Please refer to session.close_all_sessions().
  """Entry point for launching an IPython kernel.

In [131]:
tab = pd.read_html('https://americanfootballdatabase.fandom.com/wiki/Chronology_of_home_stadiums_for_current_National_Football_League_teams')

In [104]:

new_stadium_df

,team,stadium,years_used,capacity,opened,surface,city,lookup
3,Buffalo Bills,Ralph Wilson StadiumRich Stadium (1973–97),1973-present,"75,339[3]",1973,A-Turf Titan (2011-current)AstroPlay (2003-201...,"Orchard Park, NY",BUFFALOBILLS
4,Buffalo Bills,Rogers Centre,2008-present(1 game yearly),54000,1989,FieldTurf,"Toronto, ON",BUFFALOBILLS
5,Buffalo Bills,War Memorial Stadium,1960–72,46500,1937,Grass,"Buffalo, NY",BUFFALOBILLS
6,Miami Dolphins,Sun Life StadiumLand Shark Stadium (2009-10)Do...,1987-present,"75,000[3]",1987,Grass,"Miami Gardens, FL",MIAMIDOLPHINS
7,Miami Dolphins,Miami Orange Bowl,1966–86,74476,1937,Grass (1966–69)Poly-Turf (1970–76)PAT (1977–86),"Miami, FL",MIAMIDOLPHINS
...,...,...,...,...,...,...,...,...
132,San Francisco 49ers,Candlestick ParkMonster Park (2004–08)San Fran...,1971-present,"64,450[3]",1960,Grass (1979–present)AstroTurf (1971–78),"San Francisco, CA",SANFRANCISCO49ERS
133,San Francisco 49ers,Kezar Stadium,1946–70,59942,1925,Grass,"San Francisco, CA",SANFRANCISCO49ERS
134,Seattle Seahawks,CenturyLink FieldQwest Field (2004–11)Seahawks...,2002-present,"68,000[3]",2002,Field Turf,"Seattle, WA",SEATTLESEAHAWKS
135,Seattle Seahawks,Husky Stadium,2000-01Three games in 1994,72500,1920,Field Turf,"Seattle, WA",SEATTLESEAHAWKS
136,Seattle Seahawks,Kingdome,1976–99,66000,1976,AstroTurf,"Seattle, WA",SEATTLESEAHAWKS

In [117]:
games_df.fillna(value=.2, inplace=True)

# for row in games_df['home_team_id'].loc[games_df['stadium_id'] == .2]:
#     print(games_df.loc[row])
games_df

,Week,Day,Date,Time,PtsW,PtsL,YdsW,TOW,YdsL,TOL,home_team_id,away_team_id,OBJ,stadium_id,year
0,1,Fri,September 18,11:00PM,34,13,342,1,327,4,21,2,1970-09-18,31.0,1970
1,1,Sat,September 19,8:00PM,24,16,256,3,311,3,28,7,1970-09-19,29.0,1970
2,1,Sun,September 20,1:00PM,25,10,282,3,149,4,5,11,1970-09-20,22.0,1970
3,1,Sun,September 20,1:00PM,17,7,297,3,225,4,33,10,1970-09-20,8.0,1970
4,1,Sun,September 20,1:00PM,31,21,364,1,291,2,8,32,1970-09-20,18.0,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Division,Sun,December 27,1:00PM,17,14,289,3,241,4,24,36,1970-12-27,13.0,1970
199,Division,Sun,December 27,4:00PM,21,14,307,2,242,1,32,23,1970-12-27,12.0,1970
200,ConfChamp,Sun,January 3,2:00PM,27,17,363,0,336,4,15,32,1970-01-03,0.2,1970
201,ConfChamp,Sun,January 3,4:30PM,17,10,319,1,307,2,36,10,1970-01-03,26.0,1970
202,SuperBowl,Sun,January 17,1:50PM,16,13,329,7,217,4,15,10,1970-01-17,0.2,1970

In [153]:
tab = pd.read_html('https://americanfootballdatabase.fandom.com/wiki/Chronology_of_home_stadiums_for_current_National_Football_League_teams')
new_stadium_df = tab[1]
new_stadium_df.drop(index=4, inplace=True)
new_stadium_df.columns = ['team', 'stadium', 'years_used', 'capacity', 'opened', 'surface', 'city']
new_stadium_df.drop(index=[0,1,2], inplace = True)
new_stadium_df['lookup'] = [x.upper().replace(' ', '') for x in new_stadium_df['team']]
for index, row in new_stadium_df.iterrows():
    if 'NEWENGLAND' in row['lookup']:
        new_stadium_df.loc[index, 'lookup'] = 'NEWENGLANDPATRIOTS'
    if '*LOSANGELES' in row['lookup']:
        new_stadium_df.loc[index,'lookup'] == 'LOSANGELESCHARGERS'
for index, row in new_stadium_df.iterrows():
    if 'AFC' in row['lookup'] or 'NFC' in row['lookup'] or 'TEAM' in row['lookup']:
        new_stadium_df.drop(index=index,inplace =True)
for index, row in new_stadium_df.iterrows():
#     print(type(row['years_used']))
    years = row['years_used'].split('-')
    if len(years) == 1:
        years = (row['years_used'].split('–'))
    year1 = years[0]
    if ',' in year1:
        year1 = year1.split(',')[0]
    for x in years:
        if 'present' in x:
            year2 = '2018'
        elif len(x) == 2:
            x = '19'+x
            year2 = x
        else:
            year2=x
    try:
        yearrange = range(int(year1), int(year2))
        new_stadium_df.loc[index, 'years_used'] = yearrange
    except ValueError:
        print('Dropped')
        new_stadium_df.drop(index=index, inplace=True)
    if year2 == '2018':
        query = session.query(Stadiums.name).filter(Teams.team_id==Stadiums.team_id).filter(Teams.team_name == row['lookup'])
        for result in query:
            new_stadium_df.loc[index, 'stadium'] = result[0]
        

#     year3 = int(year2)
#     yearrange = range(int(year1),int(year2))

Dropped
Dropped
Dropped
Dropped
Dropped
Dropped
Dropped
Dropped
Dropped

In [159]:
new_stadium_df
session.close_all()

C:\Users\state\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SADeprecationWarning: The Session.close_all() method is deprecated and will be removed in a future release.  Please refer to session.close_all_sessions().

In [160]:
for index, row in games_df.loc[games_df['stadium_id'] == .2]:
    query = session.query(Teams.team_name).filter(Teams.team_id==row[''])
    team_name = query[0][0]
    lookup_df = new_stadium_df.loc[new_stadium_df['lookup']==team_name]
    for index, row in new_stadium_df.iterrows():
        if team_name in row['lookup'] and :
#             print('yes')
            break
#     print(team_name)

SyntaxError: invalid syntax (<ipython-input-160-604defd348de>, line 6)

In [64]:
url = 'https://americanfootballdatabase.fandom.com/wiki/Chronology_of_home_stadiums_for_current_National_Football_League_teams'

html =requests.get(url).text
soup = bs4(html, 'lxml')

In [65]:
wikitable = soup.find_all('th')
for x in wikitable:
    print(x.text)

Team(former names)

Stadium(former names)

Years Used

Capacity

Opened

Surface

City

Buffalo Bills

Miami Dolphins

New England Patriots(Boston Patriots 1960-70)

New York Jets(New York Titans 1960-1962)

Team(former names)

Stadium(former names)

Years Used

Capacity

Opened

Surface

City

Baltimore Ravens

Cincinnati Bengals

Cleveland Browns

Pittsburgh Steelers(Pittsburgh Pirates)

Team(former names)

Stadium(former names)

Years Used

Capacity

Opened

Surface

City

Houston Texans

Indianapolis Colts(Baltimore Colts)

Jacksonville Jaguars

Tennessee Titans(Tennessee Oilers)(Houston Oilers)

Team(former names)

Stadium(former names)

Years Used

Capacity

Opened

Surface

City

Denver Broncos

Kansas City Chiefs(Dallas Texans)

Oakland Raiders(Los Angeles Raiders)

San Diego Chargers(Los Angeles Chargers)

Team(former names)

Stadium(former names)

Years Used

Capacity

Opened

Surface

City

Dallas Cowboys

New York Giants

Philadelphia Eagles

Washington Redskins(Boston Redskins)(Boston Braves)

Team(former names)

Stadium(former names)

Years Used

Capacity

Opened

Surface

City

Chicago Bears(Chicago Staleys)(Decatur Staleys)

Detroit Lions(Portsmouth Spartans)

Green Bay Packers

Minnesota Vikings

Team(former names)

Stadium(former names)

Years Used

Capacity

Opened

Surface

City

Atlanta Falcons

Carolina Panthers

New Orleans Saints

Tampa Bay Buccaneers

Team(former names)

Stadium(former names)

Years Used

Capacity

Opened

Surface

City

Arizona Cardinals(Phoenix Cardinals)(St. Louis Cardinals)(Chicago Cardinals)(Racine Cardinals)(Racine Normals)(Morgan Athletic Club)

St. Louis Rams(Los Angeles Rams)(Cleveland Rams)

San Francisco 49ers

Seattle Seahawks

Date played

Stadium

Visiting Team

Home Team

Rationale

v · d · eNational Football League

AFC

NFC

In [ ]:
soup

In [22]:
tables = pd.read_html('https://americanfootballdatabase.fandom.com/wiki/Chronology_of_home_stadiums_for_current_National_Football_League_teams')
tables[0]

                                                   0
0  Contents 1 Home stadiums 2 Temporary home stad...

In [40]:
newtables[1]

,0,1,2,3,4,5,6
0,AFC,AFC,AFC,AFC,AFC,AFC,AFC
1,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East
2,Team(former names),Stadium(former names),Years Used,Capacity,Opened,Surface,City
3,Buffalo Bills,Ralph Wilson StadiumRich Stadium (1973–97),1973-present,"75,339[3]",1973,A-Turf Titan (2011-current)AstroPlay (2003-201...,"Orchard Park, NY"
4,Buffalo Bills,Rogers Centre,2008-present(1 game yearly),54000,1989,FieldTurf,"Toronto, ON"
5,Buffalo Bills,War Memorial Stadium,1960–72,46500,1937,Grass,"Buffalo, NY"
6,Miami Dolphins,Sun Life StadiumLand Shark Stadium (2009-10)Do...,1987-present,"75,000[3]",1987,Grass,"Miami Gardens, FL"
7,Miami Dolphins,Miami Orange Bowl,1966–86,74476,1937,Grass (1966–69)Poly-Turf (1970–76)PAT (1977–86),"Miami, FL"
8,New England Patriots(Boston Patriots 1960-70),Gillette StadiumCMGi Field (2002),2002-present,"68,000[3]",2002,FieldTurf (mid-2006-current)Grass (2002-mid-2006),"Foxborough, MA"
9,New England Patriots(Boston Patriots 1960-70),Foxboro StadiumSullivan Stadium (1983–89)Schae...,1971–2001,60292,1971,Grass (1991–2001)AstroTurf (197x–90)Poly-Turf ...,"Foxborough, MA"
10,New England Patriots(Boston Patriots 1960-70),Harvard Stadium,1970,30898,1903,Grass,"Boston, MA"
11,New England Patriots(Boston Patriots 1960-70),Alumni Stadium,1969,44500,1957,Grass,"Chestnut Hill, MA"
12,New England Patriots(Boston Patriots 1960-70),Fenway Park,1963–68,33524,1912,Grass,"Boston, MA"
13,New England Patriots(Boston Patriots 1960-70),Nickerson FieldBraves Field (1915–1953),1960–62,">9,000",1915,Grass,"Boston, MA"
14,New York Jets(New York Titans 1960-1962),MetLife StadiumNew Meadowlands Stadium (2010),2010-present,82566,2010,FieldTurf,"East Rutherford, NJ"
15,New York Jets(New York Titans 1960-1962),Giants Stadium,1984–2010,"79,469 [3]",1976,FieldTurf (2003–10)Grass (2000–02)AstroTurf (1...,"East Rutherford, NJ"
16,New York Jets(New York Titans 1960-1962),Shea Stadium,1964–83,57800,1964,Grass,"Queens, New York City"
17,New York Jets(New York Titans 1960-1962),Polo Grounds,1960–63,55000,1891,Grass,"Manhattan, New York City"
18,AFC North,AFC North,AFC North,AFC North,AFC North,AFC North,AFC North
19,Team(former names),Stadium(former names),Years Used,Capacity,Opened,Surface,City
20,Baltimore Ravens,M&T Bank StadiumPSINet Stadium (1999–2002)Rave...,1998-present,"69,084 [3]",1998,Sportexe Momentum Turf (2003–present)Grass (19...,"Baltimore, MD"
21,Baltimore Ravens,Memorial Stadium,1996–97,53371,1950,Grass,"Baltimore, MD"
22,Cincinnati Bengals,Paul Brown Stadium,2000-present,"65,600[3]",2000,Field Turf (2003–present)Grass (2000–02),"Cincinnati, OH"
23,Cincinnati Bengals,Cinergy FieldRiverfront Stadium (1970–96),1970–99,59754,1970,AstroTurf,"Cincinnati, OH"
24,Cincinnati Bengals,Nippert Stadium,1968–69,35000,1924,Grass,"Cincinnati, OH"

In [49]:
html = requests.get('https://americanfootballdatabase.fandom.com/wiki/Chronology_of_home_stadiums_for_current_National_Football_League_teams')
soup = bs4(html.text, 'html.parser')
for x in soup.find_all('b')[3 :-15]:
    print(x.text)
for i, r in tables[1].iterrows():
    if r[2] in soup.find_all('b')[3:-15]:
        print('yes')

AFC
AFC East
Ralph Wilson Stadium
Rogers Centre
Sun Life Stadium
Gillette Stadium
MetLife Stadium
AFC North
M&T Bank Stadium
Paul Brown Stadium
Cleveland Browns Stadium
Heinz Field
AFC South
Reliant Stadium
Lucas Oil Stadium
EverBank Field
LP Field
AFC West
Sports Authority Field at Mile High
Arrowhead Stadium
O.co Coliseum
Candlestick Park
Qualcomm Stadium
NFC
NFC East
Cowboys Stadium
MetLife Stadium
Lincoln Financial Field
FedEx Field
NFC North
Soldier Field
Ford Field
Lambeau Field
Mall of America Field at the Hubert H. Humphrey Metrodome
NFC South
Georgia Dome
Bank of America Stadium
Louisiana Superdome
Raymond James Stadium
NFC West
University of Phoenix Stadium
Edward Jones Dome
Candlestick Park
CenturyLink Field